IMECentricDB/Compare/*.scmp
IMECentricDB/IMECentric..dsd
IMECentricDB/IMECentric..dsd.autosave
IMECentricDB/IMECentric..~dsd
IMECentricDB/IMECentricDB.dbmdl
IMECentricDB/IMECentricDB.sln
IMECentricDB/IMECentricDB.sqlproj.user
IMECentricDB/IMECentricDev.dsd
IMECentricDB/IMECentricDev.dsd.autosave
IMECentricDB/IMECentricDev.~dsd
IMECentricDB/Releases/2.xx.sql
IMECentricDB/Releases/After[!!-~]NDB[!!-~]Data[!!-~]Conv.txt
IMECentricDB/Releases/IMECentricDev.dsd
IMECentricDB/Releases/IMECentricRelease.dsd
IMECentricDB/Releases/IMECentricRelease.dsd.autosave
IMECentricDB/Releases/IMECentricRelease.~dsd
IMECentricDB/Releases/ReadMe.txt
IMECentricDB/Releases/cumulativeChanges.sql
IMECentricDB/Releases/new.sql
IMECentricDB/abetonLogin.sql
IMECentricDB/abetonUpdate1.sql
IMECentricDB/changeColumnName.sql
IMECentricDB/changeTabletName.sql
IMECentricDB/cumulativeChanges176.sql
IMECentricDB/cumulativeChanges186.sql
IMECentricDB/cumulativeChanges205.sql
IMECentricDB/cumulativeChanges230.sql
IMECentricDB/cumulativeChanges252.sql
IMECentricDB/cumulativeChanges276.sql
IMECentricDB/cumulativeChanges339.sql
IMECentricDB/cumulativeChanges341.sql
IMECentricDB/cumulativeChanges352.sql
IMECentricDB/cumulativeChanges372.sql
IMECentricDB/cumulativeChanges395.sql
IMECentricDB/cumulativeChanges418.sql
IMECentricDB/cumulativeChanges453.sql
IMECentricDB/cumulativeChangesLast.sql
IMECentricDB/cumulativeChangesReleased.sql
IMECentricDB/dba.sql
IMECentricDB/waitingToBeAdded.sql
