IMECentricDB/trunk/Compare/*.scmp
IMECentricDB/trunk/IMECentric..dsd
IMECentricDB/trunk/IMECentric..dsd.autosave
IMECentricDB/trunk/IMECentric..~dsd
IMECentricDB/trunk/IMECentricDB.dbmdl
IMECentricDB/trunk/IMECentricDB.sln
IMECentricDB/trunk/IMECentricDB.sqlproj.user
IMECentricDB/trunk/IMECentricDev.dsd
IMECentricDB/trunk/IMECentricDev.dsd.autosave
IMECentricDB/trunk/IMECentricDev.~dsd
IMECentricDB/trunk/abetonLogin.sql
IMECentricDB/trunk/abetonUpdate1.sql
IMECentricDB/trunk/changeColumnName.sql
IMECentricDB/trunk/changeTabletName.sql
IMECentricDB/trunk/cumulativeChanges176.sql
IMECentricDB/trunk/cumulativeChanges186.sql
IMECentricDB/trunk/cumulativeChanges205.sql
IMECentricDB/trunk/cumulativeChanges230.sql
IMECentricDB/trunk/cumulativeChanges252.sql
IMECentricDB/trunk/cumulativeChanges276.sql
IMECentricDB/trunk/cumulativeChanges339.sql
IMECentricDB/trunk/cumulativeChanges341.sql
IMECentricDB/trunk/cumulativeChanges352.sql
IMECentricDB/trunk/cumulativeChanges372.sql
IMECentricDB/trunk/cumulativeChanges395.sql
IMECentricDB/trunk/cumulativeChanges418.sql
IMECentricDB/trunk/cumulativeChanges453.sql
IMECentricDB/trunk/cumulativeChangesLast.sql
IMECentricDB/trunk/cumulativeChangesReleased.sql
IMECentricDB/trunk/dba.sql
IMECentricDB/trunk/waitingToBeAdded.sql
